/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

body {
  background-color: red;
}

.cpw-d-block {
  display: block;
}

.cpw-container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.cpw-row {
  position: relative;
  width: 100%;
}

.cpw-row::after {
  content: "";
  display: table;
  clear: both;
}

.cpw-col {
  float: left;
  margin: 0.5rem 2%;
  min-height: 0.125rem;
}

.cpw-col--1 {
  width: 4.33%;
}

.cpw-col--2 {
  width: 12.66%;
}

.cpw-col--3 {
  width: 21%;
}

.cpw-col--4 {
  width: 29.33%;
}

.cpw-col--5 {
  width: 37.66%;
}

.cpw-col--6 {
  width: 46%;
}

.cpw-col--7 {
  width: 54.33%;
}

.cpw-col--8 {
  width: 62.66%;
}

.cpw-col--9 {
  width: 71%;
}

.cpw-col--10 {
  width: 79.33%;
}

.cpw-col--11 {
  width: 87.66%;
}

.cpw-col--12 {
  width: 96%;
}

.cpw-hidden-sm {
  display: none;
}

@media only screen and (min-width: 33.75em) {
  /* 540px */
  .cpw-container {
    width: 80%;
  }
}

@media only screen and (min-width: 45em) {
  /* 720px */
  .cpw-col--1 {
    width: 4.33%;
  }

  .cpw-col--2 {
    width: 12.66%;
  }

  .cpw-col--3 {
    width: 21%;
  }

  .cpw-col--4 {
    width: 29.33%;
  }

  .cpw-col--5 {
    width: 37.66%;
  }

  .cpw-col--6 {
    width: 46%;
  }

  .cpw-col--7 {
    width: 54.33%;
  }

  .cpw-col--8 {
    width: 62.66%;
  }

  .cpw-col--9 {
    width: 71%;
  }

  .cpw-col--10 {
    width: 79.33%;
  }

  .cpw-col--11 {
    width: 87.66%;
  }

  .cpw-col--12 {
    width: 96%;
  }

  .cpw-hidden-sm {
    display: block;
  }
}

@media only screen and (min-width: 60em) {
  /* 960px */
  .cpw-container {
    width: 75%;
    max-width: 60rem;
  }
}
